<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan"><b>Add empty header on project forms.</b></h2>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Project Header</h3>
        <div class="oe_span12">
            <p class="oe_slogan">Add empty header on project forms.</p>
            <div class="oe_demo oe_picture oe_screenshot">
            </div>
        </div>
    </div>
</section>